# Files that are only used by docker/docker compose.
docker-compose.yaml
docker-compose.*.yaml
docker-compose.yml
docker-compose.*.yml
.docker
.dockerignore
conda-environment.yml
docker/assets/create-pg-databases.sh

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# CI / distribution / packaging
**/*.egg-info
.github
.git-blame-ignore-revs
.gitignore
.mergify.yml
.pre-commit-config.yaml
.readthedocs.yaml
.stylelintrc
.venv
.yamllint
build
datacube/_version.py
dist
license-template.txt
pylintrc

# Test and coverage reports
**/htmlcov
**/.tox
**/.coverage
**/.coveragerc
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis
.editorconfig
.mypy_cache
.pytest_cache
.ruff_cache
check-code.sh
integration_tests
odc_search_profile.py
tests
!tests/drivers/fail_drivers

# Django stuff:
**/*.log

# Documentation
*.md
*.png
*.rst
docs
LICENSE
spellcheck.yaml
wordlist.txt

# PyBuilder
**/target

# iPython Notebook
**/.ipynb_checkpoints

# Mac OS X
**/.DS_Store

# IDE settings
.idea
.vscode
