* text=auto

datacube/version.py  export-subst

*.sh text eol=lf
*.bash text eol=lf
*.pbs text eol=lf

*.egg binary
*.jpg binary
*.hdr binary
*.bin binary
*.tif binary

datacube/_version.py export-subst
