repos:
    - repo: https://github.com/adrienverge/yamllint.git
      sha: v1.15.0
      hooks:
          - id: yamllint
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.1.0
      hooks:
          - id: flake8
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-json
          - id: check-yaml
          - id: debug-statements
          - id: name-tests-test
            args: ['--django']
          - id: requirements-txt-fixer
          - id: check-added-large-files
          - id: check-merge-conflict

#    - repo: https://github.com/pre-commit/mirrors-pylint
#      hooks:
#          - id: pylint
