language: python
git:
  # We need a deeper depth for 'git descibe' to ensure
  # we can reach the last tagged version.
  depth: 99999

python:
  - "2.7"
  - "3.5"

# Use the new travis docker based infrastructure
sudo: false

cache:
  directories:
    - $HOME/.cache/pip

# Install required packages
addons:
  postgresql: "9.4"
  apt:
    packages:
    - libhdf5-serial-dev
    - libnetcdf-dev
    - libproj-dev
    - libgdal1-dev
    - libudunits2-dev

before_install:
  # Create a database for the integration tests.
  - createdb agdcintegration

install:
  - export CPLUS_INCLUDE_PATH="/usr/include/gdal"
  - export C_INCLUDE_PATH="/usr/include/gdal"
  - pip install --upgrade pip
  - pip install pytest pytest-cov mock pep8 pylint==1.5 coveralls gdal==1.10.0 compliance-checker
  - pip install .

script:
  - ./check-code.sh integration_tests

after_success:
  - coveralls

notifications:
  slack:
    on_success: change
    on_failure: always
    on_pull_requests: false
    rooms:
      secure: SCM9YZ215qZnDHHQrbgWQtaKa46ZgtsEbg8XPqdyhQdMnhXDQkNA8aJIFHaPNKs2MRfqXEz1dTigjAr7OlxlvENKdVXJDGvccaJlLWX6WckfkPinWE1nvEIR18MME4jEDp06jGww+eqBU0xniHGNa66EABiQml41XQTO3lHFzwAdx0uqG5o0irqkDGqeKW1QrZ++nUwx5W+0CJGNZO06yTIUQp6B8wfMnmaoVUUjw2xuQqUdub4TbnpGlj5T8yLbKayaMjlfGbznq7VcM+2hrT0vnKOZSu5qPBlmA7DYq9IGN3sFFa095WtRfstHGOWAHgDljgm0K/EJWAW7Pv7uAmx30I9RPA1sNq1ZxVJ4RwH5ZebRiaBVh43ik5l/vNrr4wZNLeRhgGUiCxEHrix5ZNahZAv/LDZrddRyspDLmgXsCb+ExPsHwamhieVAvjB24aDL8tj8Es1A75Ai1mtcCwuYGHQzeDAlTGP5XdJQWrpcySFkouMg85DPSNz++YSBzgNR+z7pPH7Hxc01ofplXB10AMMP0IgDyZNJ2JjqttDjrMKTrfXsakEb66mXBsJDg9qBPWV5R6GOcGVBMo1JnGWFoD9IGihTWdyxv7+TEZ/w+F8hyErqFzVkMwER/BwYiT/euIVIm/ZEgRpISwZmNWTg6tXo+M5WUZtQGGmAERI=
