affine==2.2.0
amqp==2.2.2
astroid==1.6.3
attrs==17.4.0
billiard==3.5.0.3
boto3==1.4.3
botocore==1.4.93
cachetools==2.0.1
celery==4.1.0
certifi==2018.1.18
cf-units==1.2.0
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cloudpickle==0.5.2
compliance-checker==3.1.1
coverage==4.5.1
coveralls==1.3.0
dask==0.17.2
dill==0.2.7.1
docopt==0.6.2
docutils==0.14
graphviz==0.8.2
hypothesis==3.55.3
idna==2.6
isodate==0.6.0
isort==4.3.4
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
kombu==4.1.0
lazy-object-proxy==1.3.1
lxml==4.2.1
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
multiprocess==0.70.5
netCDF4==1.3.1
nose==1.3.7
numpy==1.14.2
objgraph==3.4.0
OWSLib==0.16.0
pandas==0.22.0
pathos==0.2.1
pbr==4.0.2
pendulum==1.4.4
pluggy==0.6.0
pox==0.2.3
ppft==1.6.4.7.1
psycopg2==2.7.4
py==1.5.3
pycodestyle==2.4.0
pycparser==2.18
pygdal==2.3.2.4
pygeoif==0.7
pylint==1.8.4
pyparsing==2.2.0
pyPEG2==2.15.2
pyproj==1.9.5.1
pytest==3.5.0
pytest-cov==2.5.1
pytest-timeout==1.2.1
python-dateutil==2.7.2
pytz==2018.4
pytzdata==2018.4
PyYAML==3.12
rasterio>=1.0.7
redis==2.10.6
regex==2017.7.28
requests==2.18.4
s3transfer==0.1.13
SharedArray==2.0.4
singledispatch==3.4.0.3
six==1.11.0
snuggs==1.4.1
SQLAlchemy==1.2.6
toolz==0.9.0
tzlocal==1.5.1
urllib3==1.22
vine==1.1.4
wrapt==1.10.11
xarray==0.10.2
zstandard==0.9.0
