# boto3
boto3==1.10.42
botocore==1.13.42
python-dateutil==2.8.0

# every new version finds new errors, so we pin it
pylint==1.8.4

# for packaging
wheel

# force compilation of some geo and related libs
--no-binary=GDAL,fiona,shapely,pyproj,psycopg2,h5py,netcdf4

datacube[test,celery,s3,performance,distributed]
