# datacube dependencies
Sphinx
affine
boto3
bottleneck
cachetools
celery>=4,<5
ciso8601
click
cloudpickle
compliance-checker>=4.0.0
dask[array,distributed]
distributed
fiona
hypothesis
jsonschema
lark-parser
matplotlib
moto
netcdf4
numpy
paramiko
psycopg2
pycodestyle
pylint
pyproj
pytest
pytest-cov
pytest-httpserver
pytest-timeout
python-dateutil
pyyaml
rasterio
recommonmark
redis
setuptools
setuptools_scm[toml]
shapely
sphinx-click
sphinx_autodoc_typehints
sphinx_rtd_theme
sqlalchemy
sshtunnel
toolz
tqdm
xarray

# for packaging
wheel
twine
