/*body {*/
    /*font-family: "Arial";*/
    /*color: black;*/
/*}*/

/*p {*/
    /*font-family: "Arial";*/
/*}*/
/*h1,h2,h3,h4,h5 {*/
    /*font-family: "Arial";*/
    /*color: #00A1DE;*/
/*}*/


/*.wy-menu {*/
    /*color: #00A1DE;*/
/*}*/

/*div.wy-side-nav-search {*/
    /*margin-bottom: 10px;*/
    /*background: linear-gradient(to left, rgb(122, 184, 0) 33%, transparent 33%, transparent 34%, rgb(143, 202, 231) 34%) bottom left no-repeat, white;*/
	  /*background-size: 100% 5px, 100% 100%;*/
/*}*/


/*div.document a:visited {*/
/*!* Same colour as unvisited *!*/
    /*color: #2980B9;*/
/*}*/

/*.wy-nav-side {*/
/*background-color: #000000;*/
/*}*/
/*.wy-nav-content {*/
    /*background-color: white;*/
/*}*/
