@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --pst-font-family-base: Roboto, var(--pst-font-family-base-system);
    --pst-font-family-heading: Roboto, Georgia, Times, var(--pst-font-family-base-system);
    --pst-color-text-base: #3B3B3B;
    --pst-color-paragraph: #3B3B3B;
    --pst-color-navbar-link: #3B3B3B;
    --pst-color-navbar-link-active: #3B3B3B;
    --pst-color-sidebar-link-active: #2155a1;
    --pst-header-height: 30px;
    --pst-font-size-h1: 1.8rem;
    --pst-font-size-h2: 1.4rem;
    --pst-font-size-h3: 1.3rem;
    --pst-font-size-base: 15px;
    --pst-color-headerlink: #1c375a;
}


/* PAGE LAYOUT */
.container-xl {
    max-width: 100%;
    background-color: #F8F8F8;
}

/* TOP NAV */
.navbar-light {
    box-shadow: none;
}

.navbar-light > .container-xl {
    background-color: white;
}

.navbar-brand {
    width: 140px;
    padding-left: 20px;
}

.navbar-brand img {
    width: 140px;
    height: auto;
}

#navbar-main-elements > .nav-item {
    text-transform: uppercase;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
}

#navbar-main-elements .nav-link {
    font-weight: 500;
    font-size: 0.8rem;
}

#navbar-main-elements > .active {
    border-bottom: 3px solid #1C54A1;
}

#navbar-icon-links i {
    color: #96b2dc!important;
    transition: 0.2s;
}

#navbar-icon-links i:hover {
    color: #2155a1!important;
}

/* LEFT SIDEBAR */
.bd-sidebar {
    border-right: 3px solid rgb(28 55 90 / 10%);
    height: calc(100vh - var(--pst-header-height) - 60px);
}

.bd-sidenav li {
    padding-left: 10px;
    font-weight: 400;
}

.bd-sidebar .nav .active > a {
    font-weight: 500;
    color: var(--pst-color-sidebar-link-active);
}

.bd-links {
    max-height: calc(100% - 65px);
}

#bd-docs-nav::-webkit-scrollbar {
    width: 8px; 
 }

 #bd-docs-nav::-webkit-scrollbar-track {
  background-color: #d0d2d49c;
}

#bd-docs-nav::-webkit-scrollbar-thumb {
  background: #1c375a;
  border-radius: 2px;
}

/* MAIN CONTENT */
.bd-content > div {
    background-color: white;
    padding: 40px;
}

.section p {
    line-height: 1.8rem;
}

.bd-content h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.bd-content h2 {
    margin-top: 30px;
    margin-bottom: 8px;
}

.bd-content .section:not(:first-child) h1 {
    margin-top: 30px;
}

dt:target, span.highlighted {
    background-color: #92b0dc36;
}

.viewcode-link {
    margin-top: 3px;
}



/* RIGHT NAV COLUMN */
.section-nav .toc-h1 {
    margin-bottom: 20px;
}

.section-nav .toc-h2 {
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

.section-nav .toc-h3 {
    font-size: 0.95rem;
}

.editthispage a {
    color: var(--pst-color-headerlink);
}


/* SEARCH BOX */
.form-control {
    font-size: 0.9rem;
    font-weight: 300;
}

.bd-search input { 
    border-bottom: none;
}

.bd-search .icon {
    top: 23px;
}

.fas {
    font-weight: 600;
}


/* HOME PAGE */
#open-data-cube-manual .img-fluid {
    width: 31%;
    padding: 2%;
}

.footer .container {
    max-width: 100%;
    font-size: 0.9rem;
}
